body {
   padding-top: 40px; 
}

.masthead {
    padding: 10px 0;
    background-color: #049cd9;
    background-image: -webkit-linear-gradient(#004D9F, #049cd9);
    position: relative;
    z-index: 10;
}

.quickstart {
    background: #bfbfbf;
    padding: 20px 0;
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
    background: #232323 url('../images/bg_footer.png') repeat-x scroll center top;
    border-top: 1px solid #eeeeee;
    padding: 20px 0;
}