body {
   padding-top: 40px; 
}

.masthead {
    padding: 10px 0;
    background-color: #049cd9;
    background-image: -webkit-linear-gradient(#004D9F, #049cd9);
    position: relative;
    z-index: 10;
}

.masthead h1 {
    font-size: 54px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.masthead h1, masthead p {
    text-align: center;
    margin-bottom: 9px;
    color: #ffffff;
}

.quickstart {
    background: #bfbfbf;
    padding: 20px 0;
    margin-bottom: 20px;
}

div.quickstart h6, div.quickstart p {
    line-height: 18px;
    margin-bottom: 9px;
    color: #333333;
}

div.quickstart form .clearfix {
    padding-left: 40px;
}

.footer {
    margin-top: 20px;
    background: #232323 url('../images/bg_footer.png') repeat-x scroll center top;
    border-top: 1px solid #eeeeee;
    padding: 20px 0;
}