<!doctype html>
<html>
<head>
    <title>DipToe</title>
    <link rel="Stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="Stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-1.6.4.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alerts.js') }}" type="text/javascript"></script>
</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <h3><a href="/">DipToe</a></h3>
                <ul class="nav">
                    {% set nav_bar = [
                        ("/", "index", "Home"),
                        ("/about", "about", "About"),
                    ] -%}
                    {% set active_page = active_page|default("index") -%}
                    {% for href, id, caption in nav_bar %}
                        <li {% if id == active_page %}class="active"{% endif %}>
                            <a href="{{ href|e }}">{{ caption|e }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% block masthead %}{% endblock masthead %}
    <div class="quickstart">
        <div class="container">
            <div class="row">
                <div class="span5 column">
                    <p>Fundamental idea behind the product or service (1 sentence max)</p>
                </div>
                <div class="span9 offset2 column">
                    <form method="post" action="/">
                        <div class="row {% if error %}error{% endif %}">
                            <div class="input-prepend">
                                <span class="add-on"><p>Email</p></span>
                                <input type="text" name="email" value="" />
                                <input class="btn primary" type="submit" value="Sign Up" />
                                <span class="help-inline">{{ error }}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert-message {{ category }} fade in" data-alert="alert">
                        <a class="close" href="#">x</a>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock content %}
    </div>
    <div class="footer">
        <div class="inner">
            <div class="container">
                <p>Brewed and perculated by <a href="http://www.ironlabs.com">IRON Labs, Inc.</a></p>
            </div>
        </div
    </div>
</body>
</html>
